<div class="wrapper-for-active-board">
  <button *ngIf="!createMode" (click)="createBoard()" class="btn-begin-board active-board">
    Create a new board...
  </button>
  <div *ngIf="createMode" class="create-board active-board">
    <form [formGroup]="formForBoard" class="form-active-board">
      <div class="header-of-board">
        <label>Creating a board</label>
        <input type="button" value="x" (click)="close()" class="close">
      </div>
      <div>
        <label>What shall we call the board?</label>
        <div>
          <input type="text"> <!--[(ngModel)]="na-->
          <label *ngIf="name === ''"></label>
        </div>
        <div>
          <input type="button" value="cancel">
          <input type="button" value="create">
        </div>
      </div>
    </form>
  </div>
</div>
