.wrap{
  margin-bottom: 20px;
}

a{
  text-decoration: none;
}

.wrap-new-board{
  width: 345px;
  height: 120px;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5.5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  transition: 200ms ease-in-out;
  font-weight: 900;
  text-shadow: 0px 0px 3px white;
  word-break: break-all;
}

.wrap-new-board:hover{
  filter: drop-shadow(3px 3px 3px #333);
  width: 360px;
  height: 135px;
}

.delete-board {
  position: absolute;
  padding: 0;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 1);
  color: rgba(159, 231, 164, 1);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  z-index: 10;
}

.delete-board:hover {
  font-size: 24px;
  transition: all 200ms ease-in-out;
  width: 25px;
  height: 25px;
  cursor: inherit;
  line-height: 0.5em;
  align-items: center;
}
