<div class="wrapper-for-active-board">
  <button *ngIf="!createMode" (click)="createBoard()" class="btn-begin-board active-board">
    Create a new board...
  </button>
  <div *ngIf="createMode" class="create-board active-board">
    <form [formGroup]="formForBoard" class="form-active-board">
      <div class="header-of-board">
        <label>Creating a board</label>
        <input type="button" value="x" (click)="closeEvent()" class="close">
      </div>
      <div class="body-of-board">
        <label class="header-statement">What shall we call the board?</label>
        <div>
          <input type="text" class="name-board" (keyup)="enterPress($event)" formControlName="name" [(ngModel)]="nameBoard" autofocus>
          <label *ngIf="!validName"  class="error-statement">
            Oops! Looks like you forgot the name!
          </label>
        </div>
        <div class="board-btn">
          <input type="button" value="cancel" class="btn-cancel" (click)="closeEvent()">
          <input type="button" value="create" class="btn-create" (click)="createNewBoard()">
        </div>
      </div>
    </form>
  </div>
</div>
